* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;

}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    list-style:     none;
}

a {
    text-decoration: none;
    color: #9D1925;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    color: #9D1925;
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background: #FBD777;
    color: #9D1925;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover {
    background: #9D1925;
    color: #FBD777;
}

.header {
    background: radial-gradient(#fff, #FBD777);
}

.header .row {
    margin-top: 70px;
}


.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 0%;
}

.col-4 {
    flex-basis: 15%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    text-align: center;
    transition: transform 0.5s;
}

.col-4 img {

    width: 100%;
}

h4 {
    color: #9D1925;
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
}

.col-4:hover {
    transform: translateY(-5px);
}

.offer {
    background: radial-gradient(#fff, #FBD777);
    padding: 30px 0;

}

.col-2 .offer-img {
    padding: 50px;
}

.footer {
    background: radial-gradient(#fff, #FBD777);
    color: #9D1925;
    font-size: 14px;
    padding: 60px 0 20px;
    margin-top: 0%;
}

.footer p {
    color: #9D1925;
}

.footer h3 {
    color: #9D1925;
    margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2 {
    min-width: 250px;
    margin-bottom: 20px;

}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style: none;
}

.footer hr {
    border: none;
    background: #9D1925;
    height: 1px;
    margin: 20px 0;
}

.copy {
    text-align: center;
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}

@media only screen and (max-width: 800px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: #9D1925;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: #FBD777;
    }

    .menu-icon {
        display: block;
        cursor: pointer;

    }
}

@media only screen and (max-width: 600px) {
    .row {
        text-align: center;
    }

    .col-2,
    .col-1,
    .col-3,
    .col-4 {
        flex-basis: 100%;
    }
}

.item {
  
    padding: 10px;
    border-radius: 20px;
    align-items: center;
}
.item-title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
}

.item-details {
    display: flex;
    justify-content: space-between;

    margin: 20px 0px 15px;
}

.item-details>.item-price {
    margin: 0;
}

/* ? SHOPPING CART */
.shopping-cart-items {
    padding: 20px 0px;
}

.shopping-cart-header {
    border-bottom: 1px solid #ccc;
}

.shopping-cart-image {
    max-width: 80px;
    border-radius: 20px;
}

.shopping-cart-quantity-input {
    max-width: 45px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #eee;
    padding: 5px;
}

.shopping-cart-total {
    min-height: 96px;
}

.store {
    background: radial-gradient(#fff, #FBD777);
}
